
services: 
  postgres:
    image: postgres:18.0-alpine3.22
    container_name: postgres_db
    env_file:
     - .env.docker
    environment:
      PGDATA: /data/pgdata
    ports:
      - "5432:5432"
    volumes: 
      - ./core-service/pgdata:/data/pgdata
    networks: 
     - infrastructure


  kafka:
    image: apache/kafka:latest
    container_name: kafka
    ports:
      - "9092:9092"
      - "9093:9093"
    environment:
      KAFKA_NODE_ID: 1
      KAFKA_PROCESS_ROLES: broker,controller
      KAFKA_LISTENERS: CONTROLLER://0.0.0.0:29093,BROKER://0.0.0.0:29092,PLAINTEXT_VPS://0.0.0.0:9092,PLAINTEXT_CONTAINER://0.0.0.0:9090,PLAINTEXT_LOCAL://0.0.0.0:9093
      KAFKA_ADVERTISED_LISTENERS: BROKER://kafka:29092,PLAINTEXT_VPS://185.105.89.51:9092,PLAINTEXT_CONTAINER://kafka:9090,PLAINTEXT_LOCAL://localhost:9093
      KAFKA_CONTROLLER_LISTENER_NAMES: CONTROLLER
      KAFKA_HEAP_OPTS: -Xms256M -Xmx256M
      KAFKA_CONTROLLER_QUORUM_VOTERS: "1@kafka:29093"
      KAFKA_LISTENER_SECURITY_PROTOCOL_MAP: CONTROLLER:PLAINTEXT,BROKER:PLAINTEXT,PLAINTEXT_VPS:PLAINTEXT,PLAINTEXT_CONTAINER:PLAINTEXT,PLAINTEXT_LOCAL:PLAINTEXT
      KAFKA_INTER_BROKER_LISTENER_NAME: BROKER
      KAFKA_OFFSETS_TOPIC_REPLICATION_FACTOR: 1
      KAFKA_LOG_DIRS: /var/lib/kafka/data
      CLUSTER_ID: KQZobG5yS9-1CVs7oqHYFg
    
    volumes: 
      - ./core-service/kafka_data:/var/lib/kafka/data
    networks: 
     - infrastructure

  gateway:
    build: 
      context: ./bot-gateway
    env_file:
     - .env.docker
    environment:
      BROKER: kafka:9090
      CORE: core:50051
    container_name: gateway
    ports: 
     - "8080:8080" 
    depends_on:
     - kafka
    networks: 
     - gateway-core
     - infrastructure 
    
  core:
    build: 
      context: ./core-service
    env_file:
     - .env.docker
    
    container_name: core
    ports:  
     - "8081:8080"
    environment:
      
      BROKER: kafka:9090
      TRACKER: tracker:50052

    networks:
     - gateway-core
     - tracker-core
     - infrastructure
    depends_on:
     - postgres
     - kafka
  
  tracker:
    build:
      dockerfile: Dockerfile
      context: ./track-service
    container_name: tracker
    env_file:
     - .env.docker
    environment:
     BROKER: kafka:9090
    ports: 
     - "8082:8080"
    networks:
    #  - tracker-core
     - infrastructure

  # test: 
  #  build:
  #   context: ../test-webhook/producer
  #  container_name: test
  #  networks:
  #   - infrastructure

networks:
  gateway-core: 
    driver: bridge
  
  tracker-core:
    driver: bridge
  
  infrastructure:
    driver: bridge


# volumes:
#   pgdata:
#     driver: local