name: Deploy to VPS

on: 
  push:
    branches:
     - main

jobs:
  deploy:
    runs-on: Ubuntu-24.04
    steps:
      - name: Checkout
        uses: actions/checkout@v5

      - name: Deploy
        uses: appleboy/ssh-action@v1
        with:
          host: ${{ secrets.HOST }}
          username: ${{ secrets.USERNAME }}
          key: ${{ secrets.DEPLOY_KEY }}
          script: cd ~/bot && docker compose down && docker compose up -d --build
