name: Deploy to VPS

on: 
  push:
    branches:
     - master

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Deploy to server
        uses: appleboy/ssh-action@v1
        with:
          host: ${{ secrets.HOST }}
          username: ${{ secrets.USERNAME }}
          password: ${{ secrets.VPS_PASSWORD }}
          script: | 
            cd ~/bot
            git pull origin master
            echo "TOKEN=${{ secrets.BOT_TOKEN }}" > .env.docker
            echo "ADMIN=${{ secrets.ADMIN_ID }}" >> .env.docker
            echo "APIKEY=${{ secrets.API_KEY }}" >> .env.docker
            
            docker compose down && docker compose up -d --build
            docker system prune -af 

#&& docker compose build core && docker compose build gateway && docker compose build tracker && 