name: Deploy to VPS

on: 
  push:
    branches:
     - master

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Deploy to server
        uses: appleboy/ssh-action@v1
        with:
          host: ${{ secrets.HOST }}
          username: ${{ secrets.USERNAME }}
          password: ${{ secrets.VPS_PASSWORD }}
          script: | 
            cd ~/bot
            git pull origin master
            echo "TOKEN=${{ secrets.BOT_TOKEN }}" > .env.docker
            echo "ADMIN=${{ secrets.ADMIN_ID }}" >> .env.docker
            echo "APIKEY=${{ secrets.API_KEY }}" >> .env.docker
            echo "POSTGRES_USER=${{ secrets.POSTGRES_USER }}" >> .env.docker
            echo "POSTGRES_PASSWORD=${{ secrets.POSTGRES_PASSWORD }}" >> .env.docker
            echo "POSTGRES_DB=${{ secrets.POSTGRES_DB }}" >> .env.docker
            echo "DSN=postgres://${{ secrets.POSTGRES_USER }}:${{ secrets.POSTGRES_PASSWORD }}@postgres:5432/${{ secrets.POSTGRES_DB }}?sslmode=disable" >> .env.docker
      
            docker compose down && docker compose up -d --build
            docker system prune -af 

#&& docker compose build core && docker compose build gateway && docker compose build tracker && 